.form{
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
    margin-top: 1rem;
    overflow: auto;
    height: 15rem;
    /* z-index: 120; */
    /* position: relative; */
}
/* .form div{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
} */
 input{
    /* margin-top: 1rem; */
    display: block;
    width: 100%;
    
 }
 
label{
    display: block;
}
.form label{
    font: inherit;
    padding: 0.5rem;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
}
.actions button{
    font: inherit;
    cursor: pointer;
    background-color: #5a1a01;
    color: white;
    padding: 0.5rem 1.5rem ;
    border: 1px solid #5a1a01;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.actions button:hover,
.actions button:active{
    background-color: #7a2706;
    border-color: #7a2706;
}

.actions button[type='button']{
    background-color: transparent;
    color: #5a1a01;
    border: 1px solid #5a1a01;
}

.actions button[type='button']:hover,
.actions button[type='button']:active{
    background-color: #ffe6dc;
}

.invalid input{
    border-color: red;
    background-color:  #ffd1d1;
}

.error{
    color: red;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}